body {
	font-family: Helvetica;
}

header.score-bar-container {
	margin: 0;
	padding: 0;
	background-color: #6cb0a4;
	height: 75px;
}

img#point-icon {
	top: 13px;
	left: 43px;
	position: relative;
	z-index: 9000;
}

div#user-level {
	display: inline-block;
	position:relative;
	line-height: 50px;
	top: 15px;
	left: 50px;
	width: 50px;
	height: 50px;
	font-size: 20px;
	text-align: center;
	border-radius: 25px;
	background-color: #f5d428;
	z-index: 9000;
}

.score-bar-textbox {
	display: inline-block;
	position: relative;
	padding-left: 45px;
	font-size: 18px;
	font-color: #231f20;
	top: 13px;
	left: 13px;
	width: 100px;
	height: 30px;
	border-radius:10px;
	background-color: #FFF;
}

.score-bar-level {
	top: 13px;
	left: 20px;
	width: 170px;
}

.navbar-fixed-bottom .container-fluid{
	background-color: #4d8078;
	height: 98px;

}

.wrapper{
	padding: 0;
}

.nav-ul{
	padding: 0;
	width: 100%;
	display: inline-block;
}

.nav-ul li{
	width: 33.07%;
	display: inline-block;
	line-height: 98px;
	/*vertical-align: middle;*/
	text-align: center;
	margin:0;
}

.nav-ul li a{
	text-decoration: none;
	color: #fff;
}

.nav-ul li a span{
	position: relative;
	bottom: -25px;
}

.link-wrapper{
	height:100%;
	line-height: 98px;
	/*vertical-align: middle;*/
	text-align: center;
}

.icon{
	position: absolute;
	top:16%;
}

.icon-one{
	left: 14.4%;
}

.icon-two{
	left: 48%;
}

.icon-three{
	left: 81.25%;
}

.active{
	background-color:#77c5b9;
}
