	.plant {
		background-color: #a7d85b;
		padding: 30px 30px 120px 30px;
		font-size: 18px;
		font-weight: bold;
	}
	.toolkits {
		display: inline-block;
		width: 280px;
		height: 485px;
		vertical-align: top; /* fix bug where inline divs misalign vertically */
	}
	.toolkits > div {
		width: 100%;
	}
	.sandbox {
		background-image: url(../img/plant/Sandbox.png);
		background-size: 280px 215px;
		height: 215px;
		margin: 10px 0px;
		padding: 10%;
	}
	.seedbox {
		background-image: url(../img/plant/Picnic.png);
		background-size: 280px 250px;		
		height: 250px;
		padding: 8% 12%;
	}
	.garden {
		margin-left: 30px;
		display: inline-block;
		width: 595px;
		height: 485px;
		vertical-align: top; /* fix bug where inline divs misalign vertically */

	}
	.tools {
		width: 46%;
		display: inline-block;
		margin: 0 auto;
		padding: 10px;
	}
	.img-container {
		margin: 0 auto;
	}
	.img-container img {
		display: block;
		margin: 0 auto;
	}
	.selected-tool {
		transform: scale(1.25, 1.25);
		box-shadow: 0 0 30px 10px yellow;
	}
	.toolstxt {
		margin-top: 25px;
		text-align: center;
	}
	.seeds-list {
		height: 60%;
		margin: 20px 0;
	}
	.seeds {
		height: 33%;
		margin: 8px auto;
		padding: 5px;
	}
	.seeds div {
		vertical-align: middle;
		line-height: 90%;
	}
	.seed-selected {
		box-shadow: 0 0 30px yellow;	
	}
	.seeds-img {
		height: 100%;
		display: inline-block;
		width: 29%;
	}
	.oak-seed {
		background: url(../img/plant/Oak_seed.png);
		background-size: contain;
		background-repeat: no-repeat;
	}
	.evergreen-seed {
		background: url(../img/plant/Evergreen_seed.png);
		background-size: contain;
		background-repeat: no-repeat;
	}
	.maple-seed {
		background: url(../img/plant/Maple_seed.png);
		background-size: contain;
		background-repeat: no-repeat;
	}
	.seeds-amount {
		display: inline-block;
		width: 19%;
	}
	.seeds-name {
		display: inline-block;
		width: 47%;
	}
	.buymore {
		height: 40px;
		margin: 0 auto;
		width: 150px;
	}
	.buymore-btn {
		font-size: 22px;
		font-weight: normal;
		border: none;
		width: 100%;
		color: #fff;
		text-align: center;
		background-color: #a7d85b;
	}
	.buymore-btn:active {
		border: none;
		background: #bce283;
	}
	.garden-grid {
		padding: 22px 0 9px 13px;
		z-index: 100;
		height: 100%;
		background-image: url(../img/plant/Grass_frame.png);
		background-size: 600px 495px;
	}
	.garden-row {
		height: 20%;
	}
	.garden-cell {
		display: inline-block;
		box-sizing: border-box;
		border: solid 5px #876245;
		width: 14%;
		height: 100%;
		background-color: #a07553;
		position: relative;
	} 
	.garden-cell img {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.hidden-page {
		display: none;
	}
	.buy-seeds-page {
		height: 595px;
		background-size: 90% 100%;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 24%;
	}
	.oak-page {
		background-image: url(../img/plant/Oak_Tree.png);
	}
	.evergreen-page {
		background-image: url(../img/plant/Evergreen_Tree.png);
	}	
	.maple-page {
		background-image: url(../img/plant/Maple_Tree.png);
	}
	.arrows-container {
		height: 40px;
		width: 74%;
		margin: 0 auto;
	}
	.arrow {
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;	
		width: 0px;
		height: 40px;
		background: transparent;
	}
	.left-arrow {	
		border-right: 20px solid #fff;
		float: left;
		margin-left: 10px;
	}
	.right-arrow {
		border-left: 20px solid #fff;
		float: right;
		margin-right: 10px
	}
	.buy-seeds {
		width: 180px;
		height: 60px;
		margin: 0 auto;
		margin-top: 173px;
	}