<div class="community-div">
  <div class="view-div container-fluid">
    <div class="left-div">
      <p class="title">My Friends
        <span class='add-friend'>
          <button><img class="add-button" src="static/img/Community_addicon.png"/></button>
          Add a friend
        </span>
      </p>
      <div class='table-wrapper'>
        <table st-table="displayedCollection" st-safe-src="userCollection" class="scoreboard">

          	<thead>
            	<tr class='header'>
            		<th>Rank</th>
            		<th>Friend Name</th>
            		<th st-sort='score' st-sort-default='reverse'>Score</th>
            		<th>Level</th>
            	</tr>
          	</thead>

        	<tbody>
        	<tr ng-class="{current: {{user.id === 1}}}" ng-repeat="user in (filteredItems = (displayedCollection | orderBy: '-score'))" >
        		<td class="rank center" ng-if="$index === 0"><img src='static/img/Community_rank1.png'></td>
            <td class="rank center" ng-if="$index === 1"><img src='static/img/Community_rank2.png'></td>
            <td class="rank center" ng-if="$index === 2"><img src='static/img/Community_rank3.png'></td>
            <td class="rank center" ng-if="$index > 2">{{$index +1}}</td>
        		<td class='table-cell left-align'><img class='images'src='{{user.path}}'>&nbsp&nbsp&nbsp{{user.name}}</td>
            <td class='table-cell center'>{{user.score}}</td>
        		<td class='table-cell center'>{{user.level}}</td>
        	</tr>
        	</tbody>

        </table>
      </div>
    </div>

    <div class='right-div'>
      <img class='profile' src='static/img/susie.png'/>
      <p class='name'>Susie Gee</p>
      <p class='info-title'>My Score</p>
      <p class='number'>{{score}}</p>
      <p class='info-title'>My Rank</p>
      <p class='number'>{{rank}}</p>
      <p class='info-title'>Trees Planted</p>
      <p class='number'>{{trees}}</p>
    </div>
  </div>
</div>
