<div class="playground-container">
	<div class="garbage-container">
		<img class="garbage-can" ng-src="static/img/Playground_garbage_{{statusLevel}}.png">
	</div>
	<div class="status-container">
		<div class="status-info container">
			<div style="padding-top:40px;" class="row">
				<div style="padding-top:8px;" class="col-md-offset-1 col-md-6 status-info-title">SCORE</div>
				<div class="col-md-4 status-info-number">{{score}}</div>
			</div>
			<p class="status-info-timer">(<span style="font-weight:600;">{{countdown}}</span> until <span ng-class="levels[statusLevel].className">+{{pointIncrementLevel}}</span> points)</p>
			<div style="padding-top:40px;" class="row">
				<div class="col-md-offset-1 col-md-6 status-info-title">TREES PLANTED</div>
				<div style="padding-top:15px;" class="col-md-offset-1 col-md-4 status-info-number">{{treesPlanted}}</div>
			</div>
			<div style="padding-top:40px;" class="row">
				<div class="col-md-offset-1 col-md-5 status-info-title" style="padding-top:5px;">STATUS</div>
				<div class="col-md-1" style="padding-top: 15px;"><div ng-class="levels[statusLevel].className + '-background'" class="status-level-indicator"></div></div>
				<div ng-class="levels[statusLevel].className" class="col-md-4 status-info-number">{{statusLevel}}</div>
			</div>
			<p class="status-info-timer">{{levels[statusLevel].message}}</p>
		</div>
	</div>
</div>