<div ng-class="{hidden: showHelp}"">
  <div class="plant" ng-class="{'hidden-page': currentSeedPage>=0, }">
  	<div class="toolkits">
  	  <div class="sandbox">
  	  	<div class="tools watercan">
  	  		<div class="img-container">
  	  			<img ng-src="static/img/plant/Watercan_icon.png" ng-click="useWater()" ng-class="{'selected-tool': toolActive==0}">
  	  		</div>
  	  		<div class="toolstxt">
  	  			15 Points
  	  		</div>
  	  	</div>
  	  	<div class="tools shovel">
  	  		<div class="img-container">
  	  			<img ng-src="static/img/plant/Shovel_icon.png" ng-click="useShovel()" ng-class="{'selected-tool': toolActive==1}">
  	  		</div>
  	  		<div class="toolstxt">
  	  			10 Points
  	  		</div>
  	  	</div>
   	  </div>
  	  <div class="seedbox">
  	  	<div class="seeds-list">
  	  		<div class="seeds" ng-repeat="seed in seeds" ng-click="selectSeed(seed)" ng-class="{'seed-selected': toolActive==seed.treeCode}">
  	  			<div class="img-container seeds-img"
                 ng-class="{'oak-seed': seed.treeCode==oak_code, 'evergreen-seed': seed.treeCode==evergreen_code, 'maple-seed': seed.treeCode==maple_code}">
  	  			</div>
  	  			<div class="seeds-amount">
  	  				x {{seed.amount}}
  	  			</div>
  	  			<div class="seeds-name">
  	  				{{seed.name}}
  	  			</div>
  	  		</div>
  	  	</div>
  	  	<div class="buymore">
  	  		<button class="buymore-btn" ng-click="browseSeeds()">Buy More</button>
  	  	</div>
  		</div>
  	</div>
  	<div class="garden">
  		<div class="garden-grid">
  			<div class="garden-row" ng-repeat="row in grid track by $index">
  				<div class="garden-cell" ng-repeat="cell in row track by $index" ng-switch="cell.state"  ng-click="plantTree(cell)">
  					<div ng-switch-when=0 class="img-container">
  					</div>
  					<div ng-switch-when=1 class="img-container">
  	  				<img ng-src="static/img/plant/Dughole.png">
  					</div>
  					<div ng-switch-when=2 class="img-container">
  	  				<img ng-src="static/img/plant/Sprout.png">
  					</div>
  					<div ng-switch-when=3 class="img-container">
  	  				<img ng-src="static/img/plant/Oak.png">
  					</div>
  					<div ng-switch-when=4 class="img-container">
  	  				<img ng-src="static/img/plant/Evergreen.png">
  					</div>
  					<div ng-switch-when=5 class="img-container">
  	  				<img ng-src="static/img/plant/Maple.png">
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="buy-seeds-page"
  		 ng-class="{'hidden-page': currentSeedPage<0,
  		 						'oak-page': currentSeedPage==0,
  		 						'evergreen-page': currentSeedPage==1,
  		 						'maple-page': currentSeedPage==2}">
  	<div class="arrows-container">
  		<div class="left-arrow arrow" ng-click="leftNav()"></div>
  		<div class="right-arrow arrow" ng-click="rightNav()"></div>
  	</div>
  	<div class="buy-seeds">
  	  <button class="buymore-btn" ng-click="buySeeds()">Buy Seeds</button>
  	</div>
  </div>
</div>

<div ng-class="{hidden: !showHelp}" class="help-page"><img ng-class="{hidden: !showHelp}" src="static/img/Help_Garden.png"></div>
<img ng-click="help()" class="help"ng-class="{hidden: shhowHelp}"src="static/img/Help_icon.png">
<img ng-click="closePage()" class="closePage" ng-class="{hidden: !showHelp}" src="static/img/Close_icon.png">
<img ng-click="seeTutorial()" class="seeTutorial" ng-class="{hidden: !showHelp}"src="static/img/See_tutorial_button.png">
