<!DOCTYPE html>
<html lang="en">
    <head>
    	<title>Go Green</title>
        <script src="static/bundle.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->

        <link rel="stylesheet" type="text/css" href="static/css/main.css">
   	</head>
    <body ng-app="app" ng-controller="mainController">
        <header class="score-bar-container">
            <img id="point-icon" src="static/img/Point_icon.png">
            <div class="score-bar-textbox">{{score}}</div>
            <div id="user-level">{{levelNumber}}</div>
            <div class="score-bar-textbox score-bar-level">{{levelName}}</div>
        </header>
        <div ng-view></div>
        <div class="bottom-menu">
          <nav class="navbar-fixed-bottom">
            <div class="container-fluid wrapper">
              <ul class="nav-ul">
               <li ng-class='{active: isActive("")}'><a href="/#/"><div class='link-wrapper'><img class='icon icon-one' src='static/img/playground_icon.png'><span>Playground</span></div></a></li>
               <li ng-class='{active: isActive("plant")}'><a href="/#/plant" ><div class='link-wrapper'><img class='icon icon-two' src='static/img/myGarden_icon.png'><span>My Garden</span></div></li>
               <li ng-class='{active: isActive("community")}'><a href="/#/community" ><div class='link-wrapper'><img class='icon icon-three' src='static/img/Community_icon.png'><span>Community</span></div></li>

             </ul>
            </div>
          </nav>
        </div>
	</body>
</html>
